<section id="card-thank-you" class="grid place-items-center">
  <div class="grid place-items-center">
    <img src="/images/illustration-thank-you.svg" alt="thank-you image" class="w-56">
    <div class="bg-Medium-Grey-New py-3 px-6 rounded-full mt-8 mb-2">
      <p class="text-Orange text-2xl my-0 m-auto">You selected <span id="score">4</span> out of 5</p>
    </div>
    <h2 class="text-3xl sm:text-5xl text-white mt-8">Thank you!</h2>
    <div class="grid place-items-center">
      <p class="text-center text-Light-Grey leading-6 sm:leading-10 mt-8 sm:mt-3 sm:text-2xl">
        We appreciate you taking the time to give a rating. If you ever need more support, don’t hesitate to get in
        touch!
      </p>
    </div>
  </div>
</section>