---
import Card from "../components/Card.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Interactive Rating Component</title>
    <link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<Card />
	</body>
</html>
